/* Style for the 'body' */
body {
  width: 33%;
}

/* Style for id='res' */
#res {
  background-color: lightgray;
  font-size: 20px;
  border: solid;
  height: 48px;
}

/* Style for class 'buttonContainer' */
body > .buttonContainer {
  width: 100%;
}

/* Style for class 'digitButton' */
.buttonContainer > .digitButton {
  background-color: lightgreen;
  font-size: 18px;
  height: 36px;
  margin: 0px;
  color: brown;
  float: left;
  width: 25%;
}

/* Style for class 'executeButton' */
.buttonContainer > .executeButton {
  background-color: darkgreen;
  font-size: 18px;
  height: 36px;
  margin: 0px;
  color: white;
  float: left;
  width: 25%;
}

/* Style for class 'operationButton' */
.buttonContainer > .operationButton {
  background-color: black;
  font-size: 18px;
  height: 36px;
  margin: 0px;
  float: left;
  color: red;
  width: 25%;
}
